@import url("./reset.css");
@import url("./normalize.css");

html {
  font-family: "Permanent Marker", cursive;
  color: black;
}

body {
  background: url("../../assets/images/96664b25c9577e001de75564227ca134.jpg")
    center center / cover no-repeat;
  backdrop-filter: blur(8px);
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}
