.superhero-section {
  height: 100vh;
}

.superhero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  font-size: 1.5rem;

  &__close {
    float: right;
    background-color: white;
    border: none;
    margin-left: 85%;
    cursor: pointer;
    transition: all 0.3s linear;

    &:hover {
      background-color: red;
    }
  }

  &__file-manager {
    display: flex;
    align-items: center;
  }

  &__edit {
    position: absolute;
    background-color: white;
    border-width: 5px 3px 3px 5px;
    border-radius: 95% 4% 97% 5%/4% 94% 3% 95%;
    transform: rotate(1deg);
    padding: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    width: 15%;
  }

  &__carousel {
    max-width: 33%;
    margin: 0 auto;
  }

  &__info {
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    border-width: 3px 4px 3px 5px;
    border-radius: 95% 4% 92% 5%/4% 95% 6% 95%;
  }

  &__story {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__name {
    display: inline-block;
    color: white;
    background-color: red;
    margin-bottom: 0;
  }

  &__title {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 5px;
    font-size: 2rem;
  }

  &__preface {
    margin-bottom: 10px;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
  }

  &__remove {
    margin-top: 2px !important;

    &:hover {
      background-color: red;
    }
  }

  &__configuire {
    margin-top: 2px !important;

    &:hover {
      background-color: red;
    }
  }
}

.accent-text {
  color: red;
  text-decoration: underline;
}

.button {
  padding: 5px 10px;
  margin: 25px;
  background: white;
  border: 1px solid #222;
  box-shadow: 3px 3px 0 #222;
  transition: all 0.3s linear;
  cursor: pointer;
  text-transform: uppercase;

  &:hover {
    background-color: red;
  }
}
.input {
  padding: 5px;
  color: black;
  background-color: red;
  border-radius: 25px;
  border: none;
  outline: none;
}

.file-input__input {
  display: none;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.file-input__label {
  min-width: 150px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  color: black;
  font-size: 14px;
  padding: 10px 12px;
  border: 2px solid red;
}

.file-input__label:hover {
  background-color: rgba(221, 60, 60, 0.5);
}

.file-input__label svg {
  height: 16px;
  margin-right: 4px;
}

.file-input {
  display: flex;
  justify-content: center;
}
