.carousel {
  height: 100%;
  width: 100%;

  &__image {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  &__buttons {
    display: flex;
    justify-content: space-evenly;
  }

  &__button {
    padding: 7px;
    width: 25%;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid white;
    color: white;
    transition: all 0.3s linear;
    cursor: pointer;

    &:hover {
      background-color: pink;
      color: black;
    }

    &--disabled {
      text-decoration: line-through;
      cursor: not-allowed;

      &:hover {
        background-color: transparent;
        color: red;
      }
    }
  }
}
